body{
    background-color: #dedbd3;
}

.container-fluid{
    overflow: hidden;
}
/* From this point on, all class or id name written in camel case denote a class that
covers more than one element. If written with a dash, it is only one element */

#main-title{
    color: #303e14;
    font-family: "DM Serif Display", serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 20vw; /* size is responsive to screen size */
    text-align: center;
}

.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    padding-bottom: 30px;
}

.copyright-label{
    text-align: center;
}



