/* Author: Ezinne Okonkwo
Last Updated: 4/8/24
Hello source peeker :D */
#homeLogo{
    cursor: pointer;
    width: 11%;
}

#menu{
    position: fixed;
    right: 30px;
    top: 30px;
    height: 7%;
}

.pageHeader{
    display: flex; /*display in a line*/
    justify-content: center;
    margin-bottom: -25px; /*dont need too much space between elements */
}

.header-buttons{
    padding-left: 50px; padding-right:50px; padding-top: 7px;
    font-family: "DM Serif Display", serif;
    font-weight: 20;
    font-style:oblique;
    color: 303e14;
    letter-spacing: 3px;
    font-size: 1.3vw; /*makes the text responsive to screen size*/
    text-align: center;
    display: block;
}

.nav-bar-line{
    border-top: 1.3px solid #303e14;
}

/* applies to all pages */
body{
    background-color: #dedbd3;
}

.container-fluid{
    overflow: hidden;
}
/* From this point on, all class or id name written in camel case denote a class that
covers more than one element. If written with a dash, it is only one element */

/* index page styling */
#main-title{
    color: #303e14;
    font-family: "DM Serif Display", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 13vw; /* size is responsive to screen size */
    text-align: center;
}

#animatedText {
    color: #303e14;
    font-family: "DM Serif Display", serif;
    font-weight: 20;
    font-style:italic;
    font-size: 3vw;
    text-align: center;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    padding-top: 25px; padding-bottom: 55px;;
  }

.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px;
}

.button{
    color:#303e14;
    font-family: "DM Serif Display", serif;
    font-weight: 20;
    font-style:normal;
    font-size: 1.75vw;
    display: block;
    text-decoration: none;
    background-color: #dedbd3;
    border: 2px solid #303e14;
    border-radius: 30px;
    transition: background-color 0.5s, color 0.5s; /* how long it takes colors to change+revert when hovered over*/
    text-align: center;
    padding: 10px 30px;
}

.button:hover {
    background-color: #303e14;
    color: #dedbd3; 
  }

.copyright-label{
    text-align: center;
}

/* history page styling */
.historyAdvancer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.history-jump{
    padding-left: 40px; padding-right: 40px;
}